/* all Shared */
*{
   
    font-family: 'Open Sans', sans-serif;
    
    
}

/* header */


/* nav section */

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 1rem 15rem; 
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        
    }
    .icon{
       display: flex ;
       flex-direction: row; 
       align-items: center; 
       gap:20px;
    }
    .nav-icon-img{
        width: 86.041px;
        height: 40px;
        flex-shrink: 0;
    }
    .nav-icon-text{
        
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
          
    }
    .gamer{
    color: #FF42A5;
    }
    .nav-text{
        color: #3C354F;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    nav ul{
        display: flex;
        gap: 50px;
        list-style: none;
        align-items: center;
    }
    ul li a{
        text-decoration: none;
        font-size: 18px;
        color: black;
    }
    .follow-us{
        display: flex;
        align-items: center;
        padding: 10px 30px;
        gap:1rem;
        width: 200px;
        height: 56px;
       
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);


    }

    /* main */
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 15rem;
        
    }
    .banner-left-img{
        position: relative;
  text-align: center;
    }
    .banner-text
         {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: left;
          }
    
          .play-like{

            color: #0B0223;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
           
          }
          .goat{
            text-align: center;
            font-family: Work Sans;
            font-size: 95px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            color: #5744c4 #8758f1;
            margin-bottom: 0px;
            margin-top:-20px ;
           
          }
          .banner-description{
            color: #534C64;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: lowercase;
           /* text-align: left; */
          }
          .banner-btn{
            display: flex;
            gap:24px;
            padding-top: 10px;
          }
          .btn-1,.btn-2{
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            
            padding:21px 40px;
            border-radius: 48px;
          }
          .btn-1{
            background-color:#FF42A5 ;
          }
          .btn-2{
            background-color: #4EC5F7;
          }
    /*  MEDIA QUEARY */

    /* small device */
    @media screen and (max-width : 426px) {
        nav, nav ul,.banner{
            flex-direction: column;
           
        }
        
    }
    /* Midium device */
    @media screen and (max-width : 768px )and (min-width:426px) {
        nav{
            flex-direction: column;
            
        }
        
    }